div.game {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
        color: red;
        text-shadow: 1px 5px 5px black;
    }

    & .board {
        width: fit-content;
        max-width: 500px;
        max-height: 500px;
        border: thin solid rebeccapurple;

        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        gap: 20px;
        padding: 20px;

        & .square {
            border: thin solid yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 120px;
            height: 120px;
            width: 120px;
            font-size: 64px;
            user-select: none;

            &.empty {
                cursor: pointer;
            }

            &.filled {
                cursor: not-allowed;
            }

            &.wincom {
                border: thick solid green;
            }
        }
    }

    & .state {
        .won {
            font-size: 72px;
            color: red;

            &::after {
                display: inline-block;
                content: "won!";
                margin: 10px;
            }
        }

        button.reset {
            padding: 10px 20px;
        }
    }
}
