div.game {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
        color: var(--red);
        font-size: 32px;
        text-shadow: 1px 5px 5px var(--black);
    }

    & .board {
        width: fit-content;
        max-width: 500px;
        max-height: 500px;
        border: thin solid var(--purple);

        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        gap: 20px;
        padding: 20px;

        & .square {
            border: thin solid var(--yellow);
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 120px;
            height: 120px;
            width: 120px;
            font-size: 64px;
            user-select: none;

            &.empty {
                cursor: pointer;
            }

            &.filled {
                cursor: not-allowed;
            }

            &.wincom {
                border: thick solid var(--green);
            }
        }
    }

    & .state {

        .won,
        .tied {
            font-size: 72px;
        }

        .won {
            color: var(--red);
        }

        .tied {
            color: var(--color-orange-300);
        }

        button.reset {
            padding: 10px 20px;
        }
    }
}