.App {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(600px, 9fr);
    grid-gap: 20px;

    & nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        & button {
            padding: 5px;
            cursor: pointer;
        }
    }
}
